/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
/*====  BASE ============================ */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: #000000;
  color: white;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: color 0.3s;
  transition: padding 0.2s;
}

.button:hover {
  color: #ffd343;
  padding: 1.5rem;
}

.divider-1 {
  height: 2px;
  background: #ffd343;
}

.menu {
  font-size: 1rem;
  position: grid;
  align-items: center;
  color: white;
  transition: color 0.3s;
}

.menu:hover {
  color: #ffd343;
}
.open {
  font-size: 3rem;
  color: white;
  transition: color 0.3s;
}

.open:hover {
  color: #ffd343;
}

.close {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s;
}
.close:hover {
  color: #ffd343;
}
/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: rem;
}

.section {
  padding: 5rem 0;
}

#header {
  border-bottom: 2px solid #ffd343;
  margin-bottom: 2rem;
  display: flex;
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  width: 100%;
}

main {
  margin-top: var(--header-height);
}

/*==== LOGO =============*/

.logo:hover {
  color: #ffd343;
  font-size: 1.41rem;
}
.logo span {
  color: var(--base-color);
}

/*==== NAVIGATION ==============*/

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav .icon-x {
  color: white;
  position: fixed;
  right: 2rem;
  top: 2rem;
  transition: 0.3s;
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
}

nav .icon-x {
  color: white;
  position: fixed;
  right: 2rem;
  top: 2rem;
  transition: 0.3s;
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
}
nav .icon-x:hover {
  color: #ffd343;
  cursor: pointer;
  font-size: 1.7rem;
}
nav .icon-menu {
  color: white;
  position: fixed;
  top: 1.8rem;
  right: 1.5rem;
  transition: 0.3s;
  font-size: 1.5rem;
}
nav .icon-menu:hover {
  color: #ffd343;
  font-size: 1.7rem;
  cursor: pointer;
}
nav .menu {
  opacity: 0;
  visibility: hidden;
}
nav.show .menu {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
nav.show ul li a {
  transition: color 0.3s;
  position: relative;
}
nav.show ul li a:hover {
  color: #ffd343;
}
nav.show ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffd343;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.3s;
}

nav.show ul li a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ffd343;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
}

nav.show {
  font: 700 2rem 'Poppins', sans-serif;
  position: fixed;
  display: grid;
  opacity: 1;
  visibility: visible;
  height: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  place-content: center;

  transition: 0.3s;
  margin-left: 0;
}
nav.show {
  background: black;
}
nav.show .logo {
  opacity: 0;
  visibility: 0;
}
nav.show ul li {
  margin-top: 5rem;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: white;
  transition: color 0.3s;
  transition: font-size 0.3s;
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image #burger {
  position: flex;
}
#burger {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h2 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/*==== ABOUTUS ===========*/

#aboutus {
  overflow: hidden;
}

#aboutus .container {
  margin: 0;
}

#teamicon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  max-width: 40rem;
  margin-top: 5rem;
}

#aboutus .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#aboutus .text h2 {
  margin-bottom: 1rem;
  margin-top: 4.5rem;
}

#aboutus .text p {
  display: block;
  margin-bottom: 2rem;
  max-width: 40rem;
  min-width: 24rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12rem;
}
/*==== FINDUS =================*/
#products {
  overflow: hidden;
}
#products .image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-width: 15rem;
  max-width: 40rem;
  margin-top: 5rem;
}

#grilled {
  border-radius: 200rem;
}
#products .container {
  margin: 0;
}

#products .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#products .text h2 {
  margin-bottom: 1rem;
  margin-top: 4.5rem;
}

#products .text p {
  display: block;
  margin-bottom: 2rem;
  max-width: 40rem;
  min-width: 24rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
